{% extends "base.html" %}
{% block content %}

<div class="">
    <div class="container">
        <div class="content-box mt-3">
            <div class="mb-5">            
                <p>Welcome to our platform, accessible at <a href="https://ai.creativebuffer.com/" target="_blank">https://ai.creativebuffer.com/</a>. The following
                    terms and conditions ("Terms of Use") govern your use of our platform, including all services and
                    products offered through our platform.</p>
            </div>
            <div class="mb-5">    
                <h4>Acceptance of Terms of Use</h4>
                <p>By using our platform, you agree to be bound by these Terms of Use and all applicable laws and
                    regulations. If you do not agree with any of these terms, you are prohibited from using or accessing our
                    platform. The materials contained in this platform are protected by applicable copyright and trademark
                    law.</p>
            </div>
            <div class="mb-5">    
                <h4>Use of Platform</h4>
                <p>Our platform is intended for individuals who are at least 18 years of age or older. You may not use our
                    platform for any illegal or unauthorized purpose. You must not transmit any worms or viruses or any code
                    of a destructive nature.</p>
            </div>
            <div class="mb-2">    
                <h4>User Content</h4>
                <p>Our platform may allow users to upload, post or otherwise transmit content and materials. You retain all
                    rights in your User Content and are solely responsible for the content of your User Content. You agree
                    that you will not upload, post or otherwise transmit User Content that:</p>
            </div>
            <div class="mb-5">    
                <ul>
                    <li>Infringes any patent, trademark, trade secret, copyright or other proprietary rights of any party.
                    </li>
                    <li>Contains any viruses, worms, spyware, adware, or other harmful code.</li>
                    <li>Is defamatory, obscene, pornographic, or offensive.</li>
                    <li>Promotes illegal activities or conduct that is abusive, threatening, harassing, or defamatory.</li>
                    <li>Is otherwise in violation of these Terms of Use.</li>
                    <li>We reserve the right to remove any User Content that we believe, in our sole discretion, violates
                        these Terms of Use.</li>
                </ul>
            </div>
            <div class="mb-5">    
                <h4>Intellectual Property Rights</h4>
                <p>The content and materials on our platform, including but not limited to text, graphics, logos, images,
                    audio and video, are protected by intellectual property rights, including but not limited to copyright
                    and trademark laws. Content that is not created by the platform or its users, including but not limited
                    to content that is owned, licensed, or otherwise provided by third-party providers.We are using third
                    party APIs to get the data and present on our platform. We don’t take the responsibility that data will
                    be accurate, as per expectation, plagiarism free etc.</p>
            </div>
            <div class="mb-5">    
                <h4>User Account</h4>
                <p>An individual account created by a user or business is to access and use the platform and its
                services.The actions and behaviors of users when using the platform, including but not limited to
                compliance with laws, regulations, and platform policies.</p>
            </div>
            <div class="mb-5">    
                <h4>Disclaimer of Warranties</h4>
                <p>Our platform is provided "as is" without warranty of any kind, either express or implied, including but
                not limited to the implied warranties of merchantability, fitness for a particular purpose, or
                non-infringement.</p>
            </div>
            <div class="mb-5">    
                <h4>Limitation of Liability</h4>
                <p>In no event shall we be liable for any damages (including, without limitation, damages for loss of data
                    or profit, or due to business interruption) arising out of the use or inability to use our platform,
                    even if we or an authorized representative has been notified orally or in writing of the possibility of
                    such damage.</p>
            </div>
            <div class="mb-5">    
                <h4>Indemnification</h4>
                <p>You agree to indemnify, defend, and hold us and our affiliates, licensors, and service providers, and our
                    and their respective officers, directors, employees, agents, successors, assigns, content providers, and
                    other contractors harmless from and against any claims, damages, losses, liabilities, costs, and
                    expenses (including reasonable attorneys' fees) arising from your use of our platform, your User
                    Content, or your violation of these Terms of Use.</p>
            </div>
            <div class="mb-5">    
                <h4>Modifications to Terms of Use</h4>
                <p>We reserve the right, at our sole discretion, to modify or replace these Terms of Use at any time. If a
                revision is material, we will provide at least 30 days' notice prior to any new terms taking effect.
                What constitutes a material change will be determined at our sole discretion.</p>
            </div>
            <div class="mb-5">    
                <h4>Termination</h4>
                <p>We may, in our sole discretion, at any time terminate or suspend all or a portion of our platform, or
                your use. </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}